* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffd597;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.fixed-navbar {
  /* position: fixed; */
  width: 96%;
  padding: 3% 2%;
  /* margin-top: -5%; */
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.navbar-brand {
  width: 25%;
  text-align: left;
}

.navbar-brand h1 {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 800;
  cursor: pointer;
  background-color: #ffffff;
}

.navbar-items {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
}

.navbar-items a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #ffffff;
}

.navbar-items i {
  cursor: pointer;
  background-color: #ffffff;
}

.navbar-items a:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.user-profile-container {
  width: 25%;
  text-align: right;
  background-color: #ffffff;
}

.user-profile-container a {
  margin-left: 5%;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
}

.user-profile-container a:nth-child(2) {
  padding: 2% 3%;
  border-radius: 5px;
  font-weight: 500;
  color: #ffffff;
  background-color: #000000;
}

.progress-indicator-container {
  width: 90%;
  height: 10vh;
  margin: 5% 0% 0% 11%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-container {
  width: 20%;
}

.bar-container h3 {
  margin-left: -90%;
  margin-bottom: 2%;
  font-size: 1rem;
  font-weight: 500;
  color: #8b8b8b;
}

.active-bar-container h3 {
  color: #027b3a;
}

.progress-line-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.progress-line {
  position: relative;
  width: 100%;
  border-bottom: 3px solid #8b8b8b;
}

.active-progress-line {
  border-bottom: 3px solid #027b3a;
}

.progress-outer-circle {
  height: 1rem;
  width: 1.1rem;
  border: 3px solid #8b8b8b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-progress-outer-circle {
  border: 3px solid #027b3a;
}

.progress-inner-circle {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #8b8b8b;
}

.active-progress-inner-circle {
  background-color: #027b3a;
}

.progress-outer-circle1 {
  height: 1rem;
  width: 1rem;
  border: 3px solid #8b8b8b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-progress-outer-circle1 {
  border: 3px solid #027b3a;
}

.loading-container {
  position: fixed;
  height: 100vh;
  width: 110%;
  margin: -3% 0% 10% -10%;
  z-index: 1000;
  background-color: #0000002e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-search-loading {
  position: absolute;
  margin-top: -14.7%;
  margin-left: -6%;
}

.no-documents-found-container {
  height: 30vh;
  width: 100%;
  background-color: #027b3a;
}
